*{
    margin: 0;
    padding: 0;

}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    border: 5px solid rgb(104, 164, 237);
    border-radius: 50px;
    padding: 5px;
    width: 300px;
}

